####################################################################
# These are ignored file and folder patterns.                      #
#                                                                  #
# Project: STM32CubeIDE                                            #
# Fouad Aladhami, 2025-04-02, v1.0                                 #
#                                                                  #
# Learn more about .gitignore:                                     #
# https://www.atlassian.com/git/tutorials/saving-changes/gitignore #
####################################################################

# Folders
.settings/
/Debug/

# Project stuff
.mxproject
.launch

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.list
*.map

# System Files
.DS_Store
Thumbs.db
/mb100-ltc6811-konya Debug.launch
/Release/
/cmake/
/CMakePresets.json
/CMakeLists.txt
/vcpkg-configuration.json
*.launch

.codegpt